<div>
    <span><i class="fas fa-3x fa-envelope"></i></span>
    <span><i class="fab fa-3x fa-twitter"></i></span>
    <span><i class="fab fa-3x fa-github"></i></span>
    <span><i class="fab fa-3x fa-linkedin-in"></i></span>
</div>